'.text.html':
  'amp audio':
    'prefix': 'amp-audio'
    'body': """
    <amp-audio width=${1:400} height=${2:300} src="$3">
        <div fallback>
            <p>Your browser doesn’t support HTML5 audio</p>
        </div>
        <source type="audio/mpeg" src="$4">
        <source type="audio/ogg" src="$5">
    </amp-audio>$0
    """

  'amp audio script tag':
    'prefix': 'amp-audio-script'
    'body': '<script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script>$0'
