'.text.html':
  'amp instagram':
    'prefix': 'amp-instagram'
    'body': """
    <amp-instagram
        data-shortcode="${1:fBwFP}"
        width="${2:400}"
        height="${3:400}"
        layout="responsive">
    </amp-instagram>$0
    """

  'amp instagram script tag':
    'prefix': 'amp-instagram-script'
    'body': '<script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>$0'
