'.text.html':
  'amp lightbox':
    'prefix': 'amp-lightbox'
    'body': """
    <button on="tap:${1:lightboxId}">Open lightbox</button>
    <amp-lightbox id="${1:lightboxId}" layout="nodisplay">
        <div class="lightbox" on="tap:${1:lightboxId}.close" role="main" tabindex=${2:0}>
            ${3:Lorem ipsum dolor sit amet, has nisl nihil convenire et, vim at aeque inermis reprehendunt.}
        </div>
    </amp-lightbox>$0
    """

  'amp lightbox script tag':
    'prefix': 'amp-lightbox-script'
    'body': '<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>$0'
